/*
 * CSS Calendar
 * Tim Wright
 * Chris Coyier
 * <link rel="stylesheet" type="text/css" href="calendar.css"/>
 -----------------------------*/

/*
 * Day styles
 -------------------------*/
li li               {width: 20px; height: 20px;float:left;margin:.05em; padding:.05em;overflow:auto;
					 background: url(images/day-bg.png) bottom right no-repeat; }
/*
 * Today class
 -------------------------*/
li li.today       	{background: url(images/today.png);}


/*
 * Selected class
 -------------------------*/
li li.selected       	{background: url(images/selected2.png);}


/*
 * Inactive months
 -------------------------*/
li#lastmonth li		{color: #606060; background: url(images/day-bg-inactive.png);}
li#nextmonth li     	{color: #606060; background: url(images/day-bg-inactive.png);}
