Copy event

#{form @Application.doCopyEvent()}
	<p id="answer-field">
		
		<label for="calendarName">Name of calendar to add the event:</label>
		<input type="text" name="selectedCalendarName" id="selectedCalendarName"/>
	</p>
			
	<p id="eventID-field">
		<input type="text" name="eventID" id="eventID" value="${eventID}"/>
	</p>
	
	<p id="otherUserID-field">
		<input type="text" name="otherUserID" id="otherUserID" value="${userID}"/>
	</p>
	
	<p id="otherUserCalendarID-field">
		<input type="text" name="otherUserCalendarID" id="otherUserCalendarID" value="${otherUserCalendarID}"/>
	</p>
		
	<p id="check-field">
		<input type="submit" id="check" value="Copy event to the calendar" />
	</p>
		
#{/form}