<!-- @author Alt-F4 -->
#{extends 'main.html' /}
#{stylesheet 'jquery-ui.css' /}
#{script 'jquery-ui.min.js' /}
#{script 'jquery.validate.js' /}
<style type="text/css">
	form { padding: 10px;}
	label { display: block;}
	
	label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
	}
	
	.element {
		display: block;
		border: solid 1px black;
		margin: 5px;
		width: 300px;
	}
	.field {
		font-style: italic;
		padding: 5px;
	}
	.title {
		font-size: 120%;
		font-weight: bold;
		padding: 5px;
	}
</style>
<script type="text/javascript">
	$(document).ready(
		function() { 
			$('#searchEvent').validate({
	    		rules: {
	    			name: "required"
	    		},
    		
	    		messages: {
	    			name: "Please enter something..."
	    		},
    		});

			$('#upperlimit').datepicker({dateFormat: 'dd.mm.yy'});
			$('#lowerlimit' ).datepicker({dateFormat: 'dd.mm.yy'});
			$('#results').hide();
			$('#searchEvent').submit( function(){ 
				getData();
				return false;
			});
	});	
	
	function getData(){
		var lowerlimit = null;
		var upperlimit = null;
		lowerlimit = $('#lowerlimit').val();
		upperlmit = $('#upperlimit').val();
		var name = $('#name').val();
		
		if(lowerlimit!="" && upperlimit!=""){
			var request = #{jsAction @Events.handleEventSearch(':uid', ':name', ':lowerlimit', ':upperlimit') /}
			var params = {	uid: ${user.getUserID()}, 
									name:$('#name').val(), 
									lowerlimit: $('#lowerlimit').val(), 
									upperlimit: $('#upperlimit').val()
						};
		} else {
			var request = #{jsAction @Events.handleEventSearch(':uid', ':name') /}
			var params = {	uid: ${user.getUserID()}, 
									name:$('#name').val()
						};
		}
		
		if(name){
			$.getJSON(request(params), 
								function(events){ 
									prepareResultBox(events);  
								}
			);	
			
			$('#results').show();
		}						
	}
	
	function prepareResultBox(events){
		$('#results #elements .element').remove();
		
		if(events.length==0){
			$('#results #elements').append('<div class="element">No events have been found!</div>');  
		}
	
		var name, end, start, out;
		for(var i = 0; i < events.length; i++){
			name = events[i].eventName;
			end = events[i].endDate;
			start = events[i].startDate;
			out = '<div class="element"><div class="title">' 
				+  name + '</div><div class="field">start: ' 
			 	+  start + '<div/><div class="field">end: '  
			 	+ end +'<div/></div>';
			 	
			 	$('#results #elements').append(out);
		}
	}		
</script>

<h1>Event Search</h1>
Enter all or part of the event name, starting at the beginning in the search field. 
Optionally lower and upper date bounds can be set to limit the search results.

#{form @Events.searchEvent(), id:'searchEvent'}
	#{field 'name'}
	<p>
		<label>Search field:</label>
		<input type="text" name="${field.name}" id="${field.name}" value="${field.value}" placeholder="Search..."/>
		<span class="error">${field.error}</span>
	</p>
	#{/field}
	
	<div>
	#{field 'lowerlimit'}
	<p>
		<label>lower bound(optional):</label>
		<input type="text" name="${field.name}" id="${field.name}" value="${field.value}" placeholder="yyyy-MM-dd"/>
		<span class="error">${field.error}</span>
	</p>
	#{/field}
	</div>
	
	<div>
	#{field 'upperlimit'}
	<p>
		<label>upper bound(optional):</label>
		<input type="text" name="${field.name}" id="${field.name}" value="${field.value}" placeholder="yyyy-MM-dd"/>
		<span class="error">${field.error}</span>
	</p>
	#{/field}
	</div>
	#{field 'submit'}
	<p>
		<input type="submit" name="${field.name}" id="${field.name}" value="search" />
	</p>
	#{/field}
	<br/>
	<p>
		<div id="results">
			
			<h2>Found:</h2>
				<div id="elements">
				</div>
		</div>
	</p>
#{/form}