#{form @Application.addCalendar()}
	<table>
		<colgroup>
			<col width="150">
			<col width="5">
			<col width="150">
		</colgroup>
		<tr>
			<td>Add a calendar</td>
			<td>#{if flash.error}<th colspan="2" id="error">${flash.error}</th>#{/if}</td>
			<td></td>
		</tr>
		<tr>
			<td><label for"calendarName">Calendar name:</label></td>
			<td></td>
			<td><input type="text" style="width: 150px;" name="calendarName" id="calendarName" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="submit" id="submit" style="width: 80px;" value="Submit" /></td>
		</tr>
	</table>
#{/form}