#{form @Application.addEvent()}

<table>
	<colgroup>
    	<col width="150">
   		<col width="5">
   		<col width="150">
    </colgroup>
    <tr>
    	<td>Event name</td>
    	<td></td>
    	<td><input type="text" name="eventName" id="eventName" style="width: 150px;" /></td>
    </tr>
    <tr>
    	<td>Start Date</td>
    	<td></td>
    	<td><input type="text" name="eventStart" id="eventStart" value="${_selectedDay}.${_month+1}.${_year} 00:00" style="width: 150px" /></td>
    </tr>
    <tr>
    	<td>End Date</td>
    	<td></td>
    	<td><input type="text" name="eventEnd" id="eventEnd" value="${_selectedDay}.${_month+1}.${_year} 00:00" style="width: 150px" /></td>
    </tr>
    <tr>
    	<td>Public Event</td>
    	<td></td>
    	<td><input type="checkbox" name="isPublic" id="isPublic" style="width: 150px" /></td>
    </tr>
    
    <tr>
    	<td></td>
    	<td></td>
    	<td><input type="submit" style="width: 80px;" value="Submit" /></td>
    </tr>
</table>


<input type="hidden" name="calendarID" id="calendarID" value="${_calendar.getID()}" />
<input type="hidden" name="selectedDay" id="selectedDay" value="${_selectedDay}" />
<input type="hidden" name="year" id="year" value="${_year}" />
<input type="hidden" name="month" id="month" value="${_month}" />
	
#{/form}