<body>

	<table>
		<colgroup>
			<col width="10">
			<col width="130">
			<col width="10">
		</colgroup>

		<tr>
			<td><a href="@{Application.showCalendarView(_calendar.getID(), _calendar.getOwner().getName(),0, _month-1, _year)}"><img title="last" alt="last" src="/public/images/arrow-left.jpg"></a></td>
			<td style="text-align:center;">${_monthString} ${_year}</td>
			<td><a href="@{Application.showCalendarView(_calendar.getID(), _calendar.getOwner().getName(),0, _month+1, _year)}"><img title="next" alt="next" src="/public/images/arrow-right.jpg"></a>
		</tr>

	</table>

	<ol id="calendar" style="margin-left: -77px; margin-top: -15px; font-size: small;">
		<li id="lastmonth" style="list-style: none;">
			<ul>
				#{list items:_weekdays, as:'day'}
					<li style="color: black;">${day}</li>
				#{/list}
			</ul>
			<ul start="${_startOfLastMonth}">
				#{list items:_daysFromLastMonth, as:'day'}
					<li>${day}</li>
				#{/list}
			</ul>
		</li>
		<li id="thismonth" style="list-style: none;">
			<ul>
				#{list items:_daysFromThisMonth, as:'day'}
				<!-- Unterscheidung des Layouts: normal | selektiert | heute -->
					#{if day == _selectedDay} 
						<li class="selected">
					#{/if}
					#{elseif day == _currentDay}
						<li class="today">
					#{/elseif}
					#{else}
						<li>
					#{/else}
							<!-- Unterscheidung vom Inhalt: Tag mit Events | Tag ohne Events -->
							#{if _eventDaysOfMonth.contains(day)}
								<b><a href="@{Application.showCalendarView(_calendar.getID(),_calendar.getOwner().getName(),day,_month,_year)}">${day}</a></b>
							#{/if}
							#{else}
								<a href="@{Application.showCalendarView(_calendar.getID(),_calendar.getOwner().getName(),day,_month,_year)}">${day}</a>
							#{/else}
					</li>
				#{/list}
			</ul>
		</li>
		<li id="nextmonth" style="list-style: none;">
			<ul>
				#{list items:_daysFromNextMonth, as:'day'}
					<li>${day}</li>
				#{/list}
			</ul>
		</li>
	</ol>
</body>