<body>
	#{form @Application.resetPassword()}
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}

		<p id="answer-field">
			Your question is: ${_user.getQuestion()}... but what is the correct answer?</br>
			<label for="answer">anwer</label>
			<input type="text" name="answer" id="answer"/>
		</p>

		<p id="username-field">
			<input type="hidden" name="username" id="username" value="${_user.getName()}"/>
		</p>

		<p id="check-field">
			<input type="submit" id="check" value="Check" />
		</p>
		#{/form}
	#{/else}
</body>
