
#{list items:_groupList, as:'group'}
	<li>${group.getGroupName()} <a href="@{Application.editGroup(group.getGroupID())}">
	#{if !group.getGroupName().equals("Friends")}<img title="edit" alt="edit" src="/public/images/edit.jpg">#{/if}</a>#{else}<img title="Group 'Friends' cannot be edited" alt="no edit" src="/public/images/edit.jpg">#{/else}
	</li>
	#{list items:group.getUserList(), as: 'userInList'}
		<ul>
			<li>
				<a href="@{Application.showOtherCalendars(userInList.getName())}">${userInList.getName()}</a>
			        <a href="@{Application.removeUserFromGroup(userInList.getName(), group.getGroupID())}"><img title="remove" alt="remove" src="/public/images/delete.jpg"></a>
				#{if group.getGroupName().equals("Friends") && _groupList.size() > 1}
					<br>Add to:<br>
					#{list items:_groupList, as:'avilableGroups'}
						#{if !avilableGroups.groupName.equals("Friends") && !avilableGroups.userAlreadyInGroup(userInList.getName())}
							<a href="@{Application.addUserToGroup(userInList.getName(), avilableGroups.getGroupID())}"> | ${avilableGroups.getGroupName()}</a>
						#{/if}
					#{/list}
				#{/if}
			</li>
		</ul>
	#{/list}
#{/list}
