
#{list items:_groupList, as:'group'}
	<li>${group.getGroupName()} <a href="@{Application.editGroup(group.getGroupID())}">
	#{if !group.getGroupName().equals("Friends")}<img title="edit" alt="edit" src="/public/images/edit.jpg">#{/if}</a>#{else}<img title="Group 'Friends' cannot be edited" alt="no edit" src="/public/images/edit.jpg">#{/else}
	</li>
	#{list items:group.getUserList(), as: 'userInList'}
		<ul>
			
				<a href="@{Application.showOtherCalendars(userInList.getName())}">${userInList.getName()}</a>  
				<a href="@{Application.removeUserFromGroup(userInList.getName(), group.getGroupID())}"><img title="remove" alt="remove" src="/public/images/delete.jpg"></a>
			
		
				#{if group.getGroupName().equals("Friends")}
				 	(add to:
				 	#{list items:_groupList, as:'groupp'} 
						#{if !groupp.groupName.equals("Friends") && !groupp.userAlreadyInGroup(userInList.getName())}
				 			<a href="@{Application.addUserToGroup(userInList.getName(), groupp.getGroupID())}">${groupp.getGroupName()}</a>  
				 		#{/if}
				 	 #{/list}
				 	 )
				  #{/if}
		 </ul>
	#{/list}
#{/list}
