<head>
	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
</head>

<div id="login">
	
	Welcome on the Homepage of ESECalendar!<br>
			<br>
			ESECalendar allows you to organize your appointments<br>
			online. You can create as many calendars as you want<br>
			and share your appointments with your friends.<br>
			<br>
			You are currently not logged in. You can search for other<br>
			users on the right side and search their calendars. You can<br>
			only see their public appointments.<br>
			<br>
			If you want to create your own calendars, please sign in or register.<br> 
			<br>
		
	#{form @Security.ownAuthenticate()}
		
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}

		<p id="username-field">
			<label for="username">&{'secure.username'}</label>
			<input type="text" name="username" id="username" value="${flash.username}" />
		</p>
		<p id="password-field">
			<label for="password">&{'secure.password'}</label>
			<input type="password" name="password" id="password" value="" />
		</p>
		<p id="remember-field">
			<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
			<label for="remember">&{'secure.remember'}</label>
		</p>
		<p id="signin-field">
			<input type="submit" id="signin" value="&{'secure.signin'}" />
		<style="text-align: center; font-size: 16px;" id="register-link"> or <a href="@{Register.index}" id="register" >Register</a>
		</p>
	#{/form}
</div>