<head>
	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
</head>

<div id="login">	
	#{form @Security.ownAuthenticate()}
		
		<table>
			<colgroup>
		    	<col width="150">
		   		<col width="5">
		   		<col width="150">
		    </colgroup>
		    <tr>
		    	<td>User name</td>
		    	<td></td>
		    	<td><input type="text" style="width: 150px;" name="username" id="username" value="${flash.username}" /></td>
		    </tr>
		    <tr>
		    	<td>Password:</td>
		    	<td></td>
		    	<td><input type="password" style="width: 150px;" name="password" id="password" value="" /></td>
		    </tr>
		    <tr>
		    	<td></td>
		    	<td></td>
		    	<td><input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
					<label for="remember">&{'secure.remember'}</label></td>
		    </tr>
		    <tr>
		    	<td></td>
		    	<td></td>
		    	<td><input type="submit" id="signin" value="&{'secure.signin'}" />
					<style="text-align: center; font-size: 16px;" id="register-link"> or <a href="@{Register.index}" id="register" >Register</a></td>
		    </tr>
		</table>
		
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}

		
	#{/form}
</div>