
<head>
	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
</head>

<div id="nav">
	<a href=@{Application.showCalendars()}>Home</a>
	<p><a href="javascript:history.back()">Back</a></p>
		
		#{if !_currentUser.getName().equals("guest")}
			<a href=@{Application.profile(_currentUser.getUserID())}>Profile</a>
			</br>
			<a href=@{Security.logout()}>logout</a>
			</br>
			<a href=@{Application.showGroups()}>Groups</a>
		#{/if}
	
	#{else}
	
	#{/else}
</div>