<body>
	#{if !_currentUser.getName().equals("guest")}
		<h3>Groups:</h3>
		#{if !_groups.isEmpty()}
			#{list items:_groups, as:'group'}
				<p><a href=@{Application.showUsersInGroup(group.getGroupID())}>${group.getGroupName()}</a></p>
			#{/list}
		#{/if}
		#{else}
			You have no groups
		#{/else}
		#{createNewGroup /}
		<hr>
	#{/if}
	
	
	<h3>Other Users:</h3>
	
	#{list items:_otherUsers, as:'otherUser'}
		<p><a href=@{Application.showOtherCalendars(otherUser.getName())}>${otherUser.getName()}</a></p>
	#{/list}
	
	#{searchOtherUsers /}


	
	
<body>