<head>
	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
</head>

<body>
#{if _currentUser.equals(_watchedUser)}
	<h1>You are watching your own profile!</h1>
#{/if}
#{else}
	<h1>You are watching ${_watchedUser.getName()}'s profile</h1>
#{/else}

	Username: ${_watchedUser.getName()} </br>
	Member since: ${_watchedUser.getRegistrationDate()} </br>
	State message: ${_watchedUser.getStateMessage()} </br>
	Firstname: ${_watchedUser.getFirstName()} </br>
	Familyname: ${_watchedUser.getFamilyName()} </br>
	Em@il: ${_watchedUser.getMail()} </br>
	
	#{if _watchedUser.getBirthday()==null}
		Birthday: - </br>
	#{/if}
	#{else}
		Birthday: ${_watchedUser.getBirthdayString()} </br>
	#{/else}
	
	
	Street: ${_watchedUser.getStreet()} </br>
	City: ${_watchedUser.getCity()} </br>
	Postcode: ${_watchedUser.getPostCode()} </br>
</body>