<table>
					<colgroup>
			    		<col width="180">
			    		<col width="180">
			    	</colgroup>
			    	
					<tr>
			    		<td>
							First name:<br>
						</td>
						<td>
							${_watchedUser.getFirstName()}
						</td>
					</tr>
					<tr>
			    		<td>
							Family name:<br>
						</td>
						<td>
							${_watchedUser.getFamilyName()}
						</td>
					</tr>
					<tr>
			    		<td>
							Email:<br>
						</td>
						<td>
							${_watchedUser.getMail()}
						</td>
					</tr>
					<tr>
			    		<td>
							Birthday:<br>
						</td>
						<td>
							${_watchedUser.getBirthdayString()}
						</td>
					</tr>
					<tr>
			    		<td>
							Street:<br>
						</td>
						<td>
							${_watchedUser.getStreet()}
						</td>
					</tr>
					<tr>
			    		<td>
							City:<br>
						</td>
						<td>
							${_watchedUser.getCity()}
						</td>
					</tr>
</table>