<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
	</head>
	<body>
		<table id="registertable" border="0">
			<tr>
					#{if flash.error}
						<p id="error">
							${flash.error}
						</p>
					#{/if}
					
					#{form @Register.createNewUser()}
						<tr>
							<td>
								<p id="username-field">
									<label for="username">New &{'secure.username'}</label>
								</p>
							</td>
							<td>
								<input type="text" name="username" id="username" value="${flash.username}" />
							</td>
						</tr>
						<tr>
							<td>
								<p id="password-field">
									<label for="password">New &{'secure.password'}</label>
								</p>
							</td>
							<td>
								<input type="password" name="password" id="password" value="" />
							</td>
						</tr>
						<tr>
							<td>
								<p id="confirmpassword-field">
									<label for="confirmpassword">Confirm new &{'secure.password'}</label>
								</p>
							</td>
							<td>
								<input type="password" name="confirmpassword" id="confirmpassword" value="" />
							</td>
						</tr>
						<tr>
							<td>
								<p id="question-field">
									<label for="question">A question you have to answer if you forget the password:</label>
								</p>
							</td>
							<td>
								<input type="text" name="question" id="question" value="${flash.question}" />
							</td>
						</tr>
						<tr>
							<td>
								<p id="answer-field">
									<label for="answer">The answer:</label>
								</p>
							</td>
							<td>
								<input type="text" name="answer" id="answer" value="" />
							</td>
						</tr>
						<tr>
							<td>
							</td>
							<td>
								<p id="register-field">
									<input type="submit" id="register" value="&{'Register'}" />
								</p>
							</td>
						</tr>
					#{/form}
			</tr>
		</table>
	</body>
</html>
