<body>
register...
#{form @Register.createNewUser()}
	#{if flash.error}
						<p id="error">
							${flash.error}
						</p>
					#{/if}
					
					
	<table>
	<colgroup>
		<col width="180">
		<col width="150">
		</colgroup>
				<tr>
					<td>
						<label for="username">&{'secure.username'}</label>
					</td>
					<td>
						<input type="text" name="username" id="username" style="width: 150px;" value="${flash.username}" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="password">&{'secure.password'}</label>
					</td>
					<td>
						<input type="password" name="password" id="password" style="width: 150px;" value="" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="confirmpassword">Confirm &{'secure.password'}</label>
					</td>
					<td>
						<input type="password" name="confirmpassword" id="confirmpassword" style="width: 150px;" value="" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="question">Secret Question</label>
					</td>
					<td>
						<input type="text" name="question" id="question" style="width: 150px;" value="${flash.question}" />
					</td>
				</tr>
				<tr>
					<td>
						<label for="answer">Secret Answer</label>
					</td>
					<td>
						<input type="text" name="answer" id="answer" style="width: 150px;" value="" />
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<div style="text-align:right;"><input type="submit" id="register" style="width: 100px;" value="&{'Register'}" /></div>
					</td>
				</tr>
			#{/form}
		</tr>
</table>
</body>