<body>
	#{list items:_events, as:'event'}
		#{if event.isEventDay(_selectedDay,_month,_year)} 
			#{if event.isPublic()}<b>#{/if}${event.toString()}#{if event.isPublic()}</b>#{/if}
			
			#{if event.getCorrespondingCalendar().getOwner().equals(_currentUser)}
				<a href="@{Application.removeEvent(_calendar.getID(), event.getEventID(), _selectedDay, _month, _year)}"><img title="remove" alt="remove" src="/public/images/delete.jpg"></a>
				<a href="@{Application.editEvent(event.getCorrespondingCalendar().getID(), event.getEventID(), _selectedDay, _month, _year)}"><img title="edit" alt="edit" src="/public/images/edit.jpg"></a>
			#{/if}
			#{if !_calendar.getOwner().equals(_currentUser) && _currentUser!=null}
				<a href="@{Application.copyEvent(event.getEventID(),_calendar.getOwner().getUserID(), _calendar.getID())}"><img title="copy" alt="copy" src="/public/images/copy.jpg"></a>
			#{/if}
			<div style="font-size: small;">
				${event.getStartDateString()} - ${event.getEndDateString()}
				#{showParticipants participants:event.getParticipants() /}
			</div>
		#{/if}
		<div style="font-size: .3em;"><br></div>
	#{/list}
	#{if _events.isEmpty()}
		<div style="font-size: .3em;"><br></div>
	#{/if}
	
</body>