<body>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#searchEvent').click(function(ev){
				var windowName = 'Search for an Event?';
				var url = '@{Events.searchEvent()}';
				var width = 500;
				var height = 600;
				var left = (screen.width/2)-(width/2);
				var top = (screen.height/2)-(height/2);
				var windowSize = "width=" + width + ", height=" + height + ",screenX=" + left + ",screenY=" + top +"scrollbars=yes";
				window.open(url, windowName, windowSize);
				ev.preventDefault();
				return false;
			});
		});
	</script>

	<list>
	<ul style="margin-left: -20px; margin-top: -1px;">
		#{list items:_calendarList, as:'calendar'}
			<li><a href="@{Application.betweenShowCalendarsAndShowCalendarView(calendar.getID(),_currentUser.getName())}">${calendar.getCalendarName()}</a></li>
		#{/list}
	</ul>
	</list>
	
	
</body>