<body>
	<h3>Welcome user ${_currentUser.getName()}!</h3>
	
	You have the following calendars:
	
	#{list items:_calendarList, as:'calendar'}
		<p><a href=@{Application.showEvents(calendar.getID(),_currentUser.getName())}>${calendar.getCalendarName()}</a></p>
	#{/list}
	
	<--! just for testing purposes !-->
	
	#{list items:_calendarList, as:'calendar'}
		<p><a href="@{Application.showCalendarView(calendar.getID(),_currentUser.getName(),11,9,2011)}">${calendar.getCalendarName()}</a></p>
	#{/list}
	
	add calendar:
	
	#{form @Application.addCalendar()}
	    <p>
	        <label for="calendarName">Name of the Calendar: </label>
	        <input type="text" name="calendarName" id="calendarName" />
	    </p>
	    <p>
	        <input type="submit" value="Submit your Calendar" />
	    </p>
	
	#{/form}
</body>