	
	#{if _editMode}
		#{form @Application.doEditEvent()}
		    <p>
		        <label for="eventName">Name of the Event: </label>
		        <input type="text" name="eventName" id="eventName" value="${_event.getEventName()}" />
		    </p>
		    <p>
		        <label for="eventStart">Start Date (dd.MM.yyyy HH.mm): </label>
		        <input type="text" name="eventStart" id="eventStart" value="${_event.getStringStartDate()}"/>
		    </p>
		    <p>
		        <label for="eventEnd">End Date (dd.MM.yyyy HH.mm): </label>
		        <input type="text" name="eventEnd" id="eventEnd" value="${_event.getStringEndDate()}"/>
		    </p>
		    <p>
		    	<input type="hidden" name="calendarID" id="calendarID" value=${_calendar.getID()} />
		    	<input type="hidden" name="eventID" id="eventID" value=${_event.getEventID()} />
		    </p>
		    <p>
		    	<label for="isPrivate">Public Event</label>
		    	#{if _event.isPublic()}
		    		<input type="checkbox" name="isPublic" id="isPublic" checked="checked"/>
		    	#{/if}
		    	#{else}
		    		<input type="checkbox" name="isPublic" id="isPublic"/>
		    	#{/else}
		    </p>	
		    <p>
		        <input type="submit" value="Submit your Event" />
		    </p>
		
		#{/form}
	#{/if}
	#{else}
			#{form @Application.addEvent()}
		    <p>
		        <label for="eventName">Name of the Event: </label>
		        <input type="text" name="eventName" id="eventName" value="${flash.eventName}"  />
		    </p>
		    <p>
		        <label for="eventStart">Start Date (dd.MM.yyyy HH.mm): </label>
		        <input type="text" name="eventStart" id="eventStart" value="${flash.eventStart}" />
		    </p>
		    <p>
		        <label for="eventEnd">End Date (dd.MM.yyyy HH.mm): </label>
		        <input type="text" name="eventEnd" id="eventEnd" value="${flash.eventEnd}" />
		    </p>
		    <p>
		    	<input type="hidden" name="calendarID" id="calendarID" value="${_calendar.getID()}" />
		    </p>
		    <p>
		    	<label for="isPrivate">Public Event</label>
		    	<input type="checkbox" name="isPublic" id="isPublic" />
		    </p>
		    <p>
		        <input type="submit" value="Submit your Event" />
		    </p>
		
		#{/form}
	#{/else}
	