<!DOCTYPE html>
<html>
	<body>
		Hello ${_user.getName()}. You can change now your password. </br>
		<table id="resetPasswordTable" border="1">
			<tr>
				<div id="reset">
					#{if flash.error}
						<p>
							${flash.error}
						</p>
					#{/if}
					#{form @Application.changePassword()}
						<tr>
							<td>
								<input type="hidden" name="username" id="username" value="${_user.getName()}" />
								</p>
							</td>
							<td>
							</td>
						</tr>
						<tr>
							<td>
								<p id="password-field">
									<label for="password">New &{'secure.password'}</label>
								<input type="password" name="password" id="password" value="" />
								</p>
							</td>
							<td>
							</td>
						</tr>
						<tr>
							<td>
								<p id="confirmpassword-field">
									<label for="confirmpassword">Confirm new &{'secure.password'}</label>
								<input type="password" name="confirmpassword" id="confirmpassword" value="" />
								</p>
							</td>
							<td>
							</td>
						<tr>
							<td>
							</td>
							<td>
								<p id="change-field">
									<input type="submit" id="change" value="change Password" />
								</p>
							</td>
						</tr>
					#{/form}
				</div>
			</tr>
		</table>
	</body>
</html>
