#{extends 'main.html' /}

<body>
	
	<table>
    	<colgroup>
    		<col width="190">
    		<col width="5">
    		<col width="190">
    	</colgroup>
 		 <tr style="height: 40px;">
			<td colspan="3" rowspan="1" style="vertical-align: top; font-weight: bold; text-align: center;"><font size="6">Register</font></td>
		</tr>
 		 <tr style="height: 5px;">
 		 	<td colspan="3" rowspan="1"></td>
		</tr>
		
		<tr style="height: 40px;">
				<td colspan="3" style="vertical-align: center;">Register for SPACECal</td>
	 		</tr>
	 		<tr>
				<td colspan="3" rowspan="1" id="border" style="vertical-align: top; border: 2px solid; height: 190px; padding: 5px;">
					#{register /}
				
				</td>
	 		</tr>
	 		<tr style="height: 10px;">
				<td colspan="3"></td>
	 		</tr>
	 		<tr>
		 		<td colspan="3" rowspan="1" id="border" style="vertical-align: top; border: 2px solid; height: 190px; padding: 5px;">
		 		...or sign in
		 		#{login /}
				</td>
	 		</tr> 		
    </table>
</body>