Copy event

#{form @Application.doCopyEvent()}

	NEW:
	<p id="calendarName-field">
		<label for="selectedCalendarName">Name of calendar to add the event:</label>
		#{select 'selectedCalendarName', value:1, id:'selectedCalendarName'}
			#{list items:calendarList, as:'calendar'}	
				 #{option value=calendar.getCalendarName()} ${calendar.getCalendarName()}#{/option}
			#{/list}
		#{/select}
	
	</p>
	
		
	
	
			
	<p id="eventID-field">
		<input type="text" name="eventID" id="eventID" value="${eventID}"/>
	</p>
	
	<p id="otherUserID-field">
		<input type="text" name="otherUserID" id="otherUserID" value="${userID}"/>
	</p>
	
	<p id="otherUserCalendarID-field">
		<input type="text" name="otherUserCalendarID" id="otherUserCalendarID" value="${otherUserCalendarID}"/>
	</p>
		
	<p id="check-field">
		<input type="submit" id="check" value="Copy event to the calendar" />
	</p>
		
#{/form}