#{extends 'main.html' /}
#{set title:'Home' /}

<body>
	<header>
		<h3>Edit your profile</h3>
	</header>
	
	<nav>
		#{ navigation currentUser: currentUser /}
	</nav>
	
	<article>
		<aside id="overview">
			#{overviewOtherUsers otherUsers:otherUsers, currentUser:currentUser, groups:groups /}
		</aside>
	
		<section>
			#{if currentUser.getName().equals("guest")}
				You can not edit a profile, because you are not logged in!
			#{/if}
			#{else}
				#{editProfile currentUser:currentUser, profile:currentUser.getProfile() /}
			#{/else}
		</section>
	</article>
	
	<footer>
		#{ footer /}
	</footer>
</body>
