#{extends 'main.html' /}
#{set title:'ESECalendar' /}

<body>
	<header>
		<aside id="login">
			#{nav currentUser:currentUser/}
		</aside>
		<h1 id="title"> ESECalendar <h1>
		<hr>
	</header>

	<section id="section">
		<aside id="search">
			#{searchUserForm /}
			#{searchResults otherUsersList:otherUsersList, currentUser:currentUser /}
		</aside>

		<article>
			#{if flash.error}
					<p id="error">
						${flash.error}
					</p>
			#{/if}

			#{forgotPassword user:user /}

		<article>
	</section>
	<footer>
		#{footer /}
	</footer>
</body>