#{extends 'main.html' /}

<body>
	<table>
    	<colgroup>
    		<col width="190">
    		<col width="5">
    		<col width="190">
    	</colgroup>
 		 <tr style="height: 40px;">
			<td colspan="3" rowspan="1" style="vertical-align: top; font-weight: bold; text-align: center;"><font size="6">Home</font></td>
		</tr>
 		 <tr style="height: 5px;">
 		 	<td colspan="3" rowspan="1"></td>
		</tr>
		
		#{ifnot currentUser}
			<tr style="height: 40px;">
				<td colspan="3" style="vertical-align: center;">Welcome on the Homepage of SPACECal!</td>
	 		</tr>
	 		<tr>
				<td colspan="3" rowspan="1" id="border" style="vertical-align: top; border: 2px solid; height: 190px; padding: 5px;">
					SPACECal allows you to organize your appointments
					online. You can create as many calendars as you want
					and share your appointments with your friends.<br>
					<br>
					You are currently not logged in. You can search for other
					users on the right side and search their calendars. You can
					only see their public appointments.
				
				</td>
	 		</tr>
	 		<tr style="height: 10px;">
				<td colspan="3"></td>
	 		</tr>
	 		<tr>
		 		<td colspan="3" rowspan="1" id="border" style="vertical-align: top; border: 2px solid; height: 190px; padding: 5px;">
		 		If you want to create your own calendars, please sign in or register.<br>
		 		#{login /}
				</td>
	 		</tr>
 		#{/ifnot}
 		
 		
 		#{if currentUser}
 			<tr style="height: 40px;">
 				<td colspan="3" style="vertical-align: center;">Calendars of ${currentUser.getName()}</td>
	 		</tr>
	 		<tr>
		 		<td colspan="3" rowspan="1" id="border" style="vertical-align: top; border: 2px solid; height: 190px; padding: 5px;">
		 		
					#{welcomeUser currentUser:currentUser, calendarList:currentUser.getCalendarList() /}

				</td>
	 		</tr>
	 		<tr style="height: 10px;">
				<td colspan="3"></td>
	 		</tr>
	 		<tr>
		 		<td colspan="3" rowspan="1" id="border" style="vertical-align: top; border: 2px solid; height: 100px; padding: 5px;">
		 		
		 		#{addCalendar currentUser:currentUser /}
		 		
				</td>
	 		</tr>
 		#{/if}
 		
    </table>
</body>