#{extends 'main.html' /}
#{set title:'ESECalendar' /}

<body>
	<header>
		<aside id="login">
			#{nav currentUser:currentUser/}
		</aside>
		<h1 id="title"> ESECalendar <h1>
		<hr>
	</header>

	<section id="section">
		<aside id="search">
		
			<a id="t"> TODO: SEARCH</a>

		</aside>
		
		<article>
			#{if currentUser.getName().equals("guest")}
				Sorry, but you have to log you in to see your groups!
			#{/if}
			#{else}
				#{groupList groupList:groupList, currentUser:currentUser /}
			#{/else}
			
		<article>
	
	</section>
	
	<footer>
		#{footer /}
	</footer>

</body>