#{extends 'main.html' /}
#{set title:'CalendarApp - Calendar of an other user'/}

<body>
	<header>
		<h3>Home</h3>
	</header>
	
	<nav>
		#{ navigation currentUser: currentUser /}
	</nav>
	
	<article>
		<aside id="overview">
			#{overviewOtherUsers otherUsers:otherUsers, currentUser:currentUser, groups:groups /}
		</aside>
	
		<section id="EventList">
			
			<h3>Events in Calendar "${calendar.getCalendarName()}" (Owner: ${calendar.getOwner().getName()})</h3>
	
			#{list items:eventList, as:'event'}
	
				<p>Start Date: "${event.getStartDate()}", End Date: "${event.getEndDate()}", Event Name: "${event.getEventName()}" , Event ID: "${event.getEventID()}" </p>
				#{if !calendar.getOwner().equals(currentUser)}
					<p><a href="@{Application.copyEvent(event.getEventID(),calendar.getOwner().getUserID(), calendar.getID())}"> Copy the event in your own calendar </a></p>
				#{/if}
				#{if calendar.getOwner().equals(currentUser)}
					<a href="@{Application.editEvent(event.getCorrespondingCalendar().getID(), event.getEventID())}"> Edit </a>
					<a href="@{Application.removeEvent(event.getCorrespondingCalendar().getID(), event.getEventID())}"> Remove </a>
				#{/if}

			#{/list}
	
		</section>
		#{if calendar.getOwner().equals(currentUser)}
			<section id="AddEvent">
				#{modEvent editMode:false , calendar:calendar, event:event, currentUser:currentUser /}
			</section>
		#{/if}
		
	</article>
	
	<footer>
		#{ footer /}
	</footer>
</body>
