#{extends 'main.html' /}
#{set title:'Home' /}

<body>
	<header>
		<h3>Show other user's calendar</h3>
	</header>
	
	<nav>
		#{ navigation currentUser: currentUser /}
	</nav>
	
	<article>
		<aside id="overview">
			#{overviewOtherUsers otherUsers:otherUsers, currentUser:currentUser, groups:groups /}
		</aside>
	
		<section>
			<h2>Calendars of ${otherUser.getName()}</h2> <a href=@{Application.profile(otherUser.getUserID())}>See ${otherUser.getName()}'s profile</a>

			#{list items:calendarList, as:'calendar'}
				<p><a href=@{Application.showEvents(calendar.getID(),otherUser.getName())}>${calendar.getCalendarName()}</a></p>
			#{/list}
			
		</section>
	</article>
	
	<footer>
		#{ footer /}
	</footer>
</body>
