#{extends 'main.html' /}
#{set title:'Home' /}

<body>
	<header>
		<h3>Home</h3>
	</header>
	
	<nav>
		#{ navigation/}
	</nav>
	
	<article>
		<aside id="overview">
			#{overviewOtherUsers otherUsers:otherUsers, currentUser:currentUser, groups:groups /}
		</aside>
	
		<section>
			#{if currentUser.getName().equals("guest")}
				#{welcomeUnknown /}
			#{/if}
			#{else}
				Current user is: ${currentUser.getName()}
				#{welcomeUser currentUser:currentUser, calendarList:calendarList /}
			#{/else}
		</section>
	</article>
	
	<footer>
	
	</footer>

	
	
	#{ footer currentUser: currentUser /}
</body>
