#{extends 'main.html' /}

<body>
	<table>
    	<colgroup>
    		<col width="180">
    		<col width="5">
    		<col width="180">
    	</colgroup>
 		 <tr style="height: 40px;">
			<td colspan="3" rowspan="1" style="vertical-align: top; font-weight: bold; text-align: center;"><font size="6">Contacts</font></td>
		</tr>
 		 <tr style="height: 5px;">
 		 	<td colspan="3" rowspan="1"></td>
		</tr>
		<tr style="height: 40px;">
 			<td colspan="3" style="vertical-align: center;">Contacts of ${currentUser.getName()}</td>
 		</tr>
		<tr>
			<td colspan="3" rowspan="1" id="border" style="vertical-align: top; border: 2px solid; height: 180px; padding: 5px;">
				#{groupList groupList:groupList, currentUser:currentUser /}
			</td>
	 	</tr>
	 	<tr style="height: 10px;">
			<td colspan="3"></td>
	 	</tr>
	 	<tr>
	 		<td colspan="3" rowspan="1" id="border" style="vertical-align: top; border: 2px solid; height: 100px; padding: 5px;">
	 		
	 		#{addGroup currentUser:currentUser /}
	 		
			</td>
	 	</tr>
 	</table>
</body>