#{extends 'main.html' /}

<body>
	<table>
		<colgroup>
			<col width="190">
			<col width="5">
			<col width="190">
		</colgroup>
		<tr style="height: 40px;">
			<td colspan="3" rowspan="1" style="vertical-align: top; font-weight: bold; text-align: center;">
				<font size="6">Calendar</font>
			</td>
		</tr>
		<tr style="height: 5px;">
			<td colspan="3" rowspan="1"></td>
		</tr>
		<tr style="height: 40px;">
			<td style="vertical-align: center;">${calendar.getCalendarName()}</td>
				<td></td>
			<td>${monthString} #{if selectedDay != 0}${selectedDay}#{/if}</td>
		</tr>
		<tr>
			<td id="border" style="vertical-align: top; border: 2px solid; height: 190px; padding: 5px;">
				#{calendarView calendarUser:calendarUser, currentUser:currentUser, calendar:calendar, monthString:monthString, startOfLastMonth:startOfLastMonth, daysFromLastMonth:daysFromLastMonth, daysFromThisMonth:daysFromThisMonth, daysFromNextMonth:daysFromNextMonth, eventDaysOfMonth:eventDaysOfMonth, selectedDay:selectedDay, weekdays:weekdays, currentDay:currentDay, year:year, month:month, events:events /}
			</td>
			<td></td>
			<td id="border" style="vertical-align: top; border: 2px solid; height: 190px; padding: 5px;">
				#{showEvents calendarUser:calendarUser, currentUser:currentUser, calendar:calendar, monthString:monthString, startOfLastMonth:startOfLastMonth, daysFromLastMonth:daysFromLastMonth, daysFromThisMonth:daysFromThisMonth, daysFromNextMonth:daysFromNextMonth, eventDaysOfMonth:eventDaysOfMonth, selectedDay:selectedDay, weekdays:weekdays, currentDay:currentDay, year:year, month:month, events:events /}
			</td>
		</tr>
		<tr style="height: 10px;">
			<td colspan="3"></td>
		</tr>
		<tr>
			<td colspan="3" rowspan="1" id="border" style="vertical-align: top; border: 2px solid; height: 100px; padding: 5px;">
				#{if calendar.getOwner().equals(currentUser)}
					<section id="AddEvent">
						#{addEvent event:event, calendar:calendar, currentUser:currentUser, year:year, month:month, selectedDay:selectedDay  /}
					</section>
				#{/if}
				#{else}
					Click on the <img title="copy" alt="copy" src="/public/images/copy.jpg"> symbol to copy a public event in your own calendar.
				#{/else}
			</td>
		</tr>
	</table>
</body>
