#{extends 'main.html' /}
#{set title:'Home' /}

<body>
	<header>
		<h3>Home</h3>
	</header>
	
	<nav>
		#{ navigation currentUser: currentUser /}
	</nav>
	
	<article>
		<aside id="overview">
			#{overviewOtherUsers otherUsers:otherUsers, currentUser:currentUser, groups:groups /}
		</aside>
	
		<section>
			You have the following Users in your group ${group.getGroupName()}
			</br>
			#{list items:userList, as:'user'}
			<p><a href=@{Application.showOtherCalendars(user.getName())}>${user.getName()}</a>
			<a href=@{Application.removeUserFromGroup(user.getName())}>Remove</a></p>
			#{/list}

			Add user:

			#{list items:otherUsers, as:'otherUser'}
			<p><a href=@{Application.addUserToGroup(otherUser.getName(), group.getGroupID())}>${otherUser.getName()}</a></p>
			#{/list}

			<p><a href="/">Home</a>
		</section>
	</article>
	
	<footer>
		#{ footer /}
	</footer>
</body>
