#{stylesheet 'navigation.css' /}
<nav id="mainNav">
	<a href = @{Application.index()}>Home</a>
	
	#{if currentUser}
		|
		<a href=@{Application.showCalendars()}>Calendars</a>
		|
		<a href=@{Application.showGroups()}>Contacts</a>
		|
		
	#{/if}
	
</nav>

<nav id="statusNav">
	#{if currentUser}
		Logged in as <a href=@{Application.showCurrentUserProfile()}>${currentUser.getName()}</a>
		<a href=@{Security.logout()}>logout</a>
	#{/if}
	#{else}
		<a href=@{Application.login()}>Login</a>
	#{/else}
</nav>