<body>
	<table>
		<colgroup>
			<col width="190">
		</colgroup>
		#{if currentUser}
			<tr style="height: 40px; vertical-align:center;">
				<td>My Contacts</td>
			</tr>
			<tr>
				<td id="border" style="vertical-align: top; border: 2px solid; height: 190px; padding: 3px;">
					<ul>
						#{list items: currentUser.getGroupList().get(0), as: 'group'}
							<li style="margin-left: -20px;">${group.getGroupName()}</li>
							<ul>
								#{list items: group.getUserList(), as: 'userInList'}
									<li style="margin-left: -40px;"><a href="@{Application.showOtherCalendars(userInList.getName())}">${userInList.getName()}</a></li>
								#{/list}
							</ul>
						#{/list}
					</ul>
					<ul>
						<li style="margin-left: -20px;"><a href="@{Application.showGroups()}">All Contacts</a></li>
					</ul>
				</td>
			</tr>
			<tr style="height: 40px; vertical-align:center;">
				<td>Your future Contacts here?</td>
			</tr>
	</table>
	#{/ if}
</body>