#{script 'jquery.reveal.js' /}
#{extends 'main.html' /}

<head>
	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
</head>
<body>
	<h3>Search users (<a href="@{Application.searchUser("")}">all users</a>)</h3>
	*{#{form @Application.searchUser()}
			<p id="searchName-field">
			<label for="searchName">Search for user:</label>
			<input type="text" name="searchName" id="searchName" />
		</p>
		<p id="signin-field">
			<input type="submit" id="signin" value="Search" />
		</p>
	#{/form}}*
	
	*{NEW:}*
	
	<script type="text/javascript" charset="utf-8">
	var searchAction = #{jsAction @Application.search(':query') /}
	
	document.write("<a href="+$('#results p').load(searchAction({query: ' ' }))+"> All users</a>"); *{ TODO: FIX THIS!}*
	
	//If you type in the #search field, an ajax request is fired and the response is stored in the results-div
	$(document).ready(function (){
		$('#search').keyup(function () {
			$('#results p').load(searchAction({query: this.value}));
		});		
	});
	
	</script>
	
	<h1> Search for a User</h1>
	
	<input type="text" id="search" name="search">
	
	<div id="results">
		<p>
		</p>
	</div>
	
	
<body>