#{script 'jquery.reveal.js' /}
#{extends 'main.html' /}

<head>
	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
</head>
<body>
	<a href = # id="displayAll">Display all users</a>

	
	*{NEW:}*
	
	<script type="text/javascript" charset="utf-8">
	var searchAction = #{jsAction @Application.search(':query') /}
	var searchActionAll = #{jsAction @Application.search('') /}
	
	//If you type in the #search field, an ajax request is fired and the response is stored in the results-div
	$(document).ready(function (){
		$('#search').keyup(function () {
			$('#results p').load(searchAction({query: this.value}));
		});		
	});
	
	$(document).ready(function (){
		$('#displayAll').click(function() {
			$('#results p').load(searchActionAll());
		});		
	});
	
	</script>
	
	<h1> Search for a User</h1>
	
	<input type="text" id="search" name="search">
	
	<div id="results">
		<p>
		</p>
	</div>
	
	
	
<body>