html, body
{
  background-color: #FFFFFF;
}

h1
{
  text-align: center;
}

#registertable
{
  margin: 50px auto;
  width: 300px;
  text-align: center;
}

#username-field
{
  font-weight: bold;
}

#password-field
{
  font-weight: bold;
}

#confirmpassword-field
{
  font-weight: bold;
}

#register-field
{}
